haversine==2.8.1
matplotlib-inline==0.1.7
numpy==2.0.0
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
plotly-express==0.4.1
smmap==5.0.1
streamlit==1.36.0
streamlit-aggrid==1.0.5
streamlit_folium==0.21.0
tzdata==2024.1
